.coverImg-container{
    width:80vw;
    height:auto;
    margin-bottom:2px
}
.coverImg-container img{
    margin:20px;
    max-height:auto;
    max-width:60vw;
    height:auto;
    width:auto;
    pointer-events:none
}
.social-button-container{
    width:60vw;
    height:auto;
    margin-left:20px;
    margin-bottom:2px;
    transform-box:scale(60vw)
}

.spacer-lol{
    width:5px;
    color:#000;
    user-select:text;
    font-size:10px
}

.page-title:hover{
    color:#fff;
    opacity:1;
    transform:scale(1.05)
}
.page-subtitle{
    font-size:.8vw;
    margin-left:1vw;
    margin-top:0;
    color:#949494
}
