.social-button{
    font-family:Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
    height:35px;
    width:300px;
    background-color:#000;
    color:#ffffffd8;
    border-color:hsla(0, 0%, 100%, 0.089);
    font-size:20px;
    letter-spacing:0;
    font-weight:medium;
    transition:opacity .255s,color 0.6s,scale .51s,border-color 0.5s,transform .71s,box-shadow .32s;
    border-radius:10px;
    border-width:2.42px;
    cursor:pointer;
    margin-top: 10px;
    opacity:.6;
    border-style: solid;
}
.social-button:hover{
    color:white;
    border-color: white;
    transform:scale(1.12);
    opacity:.9;
    box-shadow:3px 3px 6px hsla(0, 0%, 100%, 0.021);
}
.social-button:active{
    opacity:.2
}


/* hover colours, disabled

ffb2d7;

.discord-button:hover{
    border-color:#5865f2!important;
    color:#5865f2!important
}
.yt-button:hover{
    border-color:#d32709!important;
    color:#d32709!important
}
.twitch-button:hover{
    border-color:#5c16c5!important;
    color:#5c16c5!important
}
.twitter-button:hover{
    border-color:#3a9deb!important;
    color:#3a9deb!important
}
.insta-button:hover{
    border-color:#ef4778!important;
    color:#ef4778!important
}
*/